<script type="text/javascript" src="__PUBLIC__/js/jQueryform.js"></script>
<script src="__PUBLIC__/js/user_setting.js"></script>
<div class="setting-left fl">
          <div class="cheader-wrap">
            <h1>设置</h1>
          </div>
          <ul>
            <li id="setperfile">
              <a href="__APP__/User/User/setperfile">个人资料</a>
              <span></span>
            </li>
            <li id="setavator">
               <a href="__APP__/User/User/setavator" class="onactive">头像设置</a>
               <span></span>
            </li>
          <!--   <li id="setverifyemail">
              <a href="__APP__/User/setverifyemail">邮箱验证</a>
              <span></span>
            </li> -->
            <li id="setresetpwd">
              <a href="__APP__/User/User/setresetpwd">修改密码</a>
              <span></span>
            </li>
          </ul>
</div>