{empty name="uid" }
    {include file='../application/common/view/IndexHeader.html' /}
    {else/}
    {include file='../application/common/view/Header.html' /}
{/empty}
  <head><title>vivi视频_关于我们</title></head>
  <link rel="stylesheet" href="__PUBLIC__/style/about.css"/>
  <div id="main">
    <div class="container clearfix">
    {include file='Public:AboutLeft' /}
      <div class="other-right ">
        <div class="other-right-wrap others">
          <div id="pjax-container">
            <div class="us">
              <h1>关于电力培训</h1>
              <dl>
                <dt>培训简介</dt>
                <dd>河北VIVI电力培训主要从事国家电网公司招聘考试培训工作，始于2009年，已培训了数千学员，遍布华北、西北、东北、华东、华中等地，拥有很高的知名度和广泛影响，很多学员已成为国网公司正式员工，走上梦想的工作岗位。
                河北vivi电力培训拥有专门的调研老师，利用丰富的学员、家长资源，在考试结束后，迅速进行考试内容的调研，同时对电网考试进行预测，准确把握考试范围和培训内容。
                河北vivi电力培训拥有专门的人员负责编写整理培训讲义和题库建设，目前我们拥有电网考试所有科目的讲义以及上万个试题资源。</dd>
                <dt>培训类型</dt>
                <dd>目前培训主要有三个方向：<br>
                （1）电工类招工培训：主要专业包括电气工程及其自动化、供用电技术、电力系统自动化、高电压技术、防雷、输电线工程、继电保护等。<br>
                （2）电子信息类招工培训：主要专业包括计算机、通信等。<br>
                （3）金融会计类招工培训：主要专业包括金融、会计等。</dd>
                <dt>培训内容及方式</dt>
                <dd>公共基础课：言语理解、数理思维、判断推理、资料分析、电力与能源、特高压电网、智能电网等。<br/>
                    专业课包括：<br/>
                    电气类：电路理论、高电压技术、电力系统分析、继电保护、高等电力系统分析、电网络分析等。<br/>
                    计算机：数据结构与算法、数据库系统、计算机网络、操作系统、计算机组成与体系结构等。<br/>
                    通信：通信原理、计算机通信与网络、电磁场与微波技术、现代交换技术、宽带接入技术、数字传输技术、信号与系统等。<br/>
                    金融类：微观经济学、宏观经济学、金融学、中级计量经济学、金融经济学等。<br/>
                    财会类：会计、审计、成本与管理会计、财务管理、税法等。<br/>
                </dd>
                <dt>培训面试</dt>
                <dd>主要以面试理论、结构化面试、无领导小组讨论等形式进行。</dd>
                <dt>培训方式</dt>
                <dd>主要以讲授、强化训练（做题）、模拟测试、辅导等形式进行。</dd>
                <dt>培训时间</dt>
                <dd>采用封闭式强化培训，每天10课时，连续培训一个月左右，共计300课时，电气类每年四期到五期，非电气类一期到两期，具体时间请关注我们的<a href="http://dianlipeixun.com/" target="_blank" title="培训官网">培训官网</a>。</dd>
                <dt>培训讲师</dt>
                <dd>培训课程均由专业教师担任，主要教师拥有10年以上丰富教学经验和多年电力招工培训经历。</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{empty name="uid" }
    {include file='../application/common/view/IndexFooter.html' /}
    {else/}
     {include file='../application/common/view/Footer.html' /}
{/empty}
