      <div class="other-left fl js-other-nav">
        <ul>
          <li class="nav-active">
            <a href="__APP__/Index/About/" class="onactive">关于我们</a>
            <span></span>
          </li>
          <li class="nav-active">
            <a href="__APP__/Index/About/explain">网站说明</a>
            <span></span>
          </li>
          <li class="nav-active">
            <a href="__APP__/Index/About/contact">联系我们</a>
            <span></span>
          </li>
        </ul>
      </div>
