<div id="footer">
      <div class="waper">
        <div class="footerwaper">
          <div class="footer_intro">
            <p>我们的使命是让你更方便的学习，帮助更多的人实现梦想！<br>
              Copyright © 2014 vivisp.com All Rights Reserved<br>
              冀ICP备15013326号
            </p>
          </div>
          <div class="footer_link">
            <ul>
              <li><a href="__APP__/Index/Index">网站首页</a></li>
              <li><a href="__APP__/Index/About">关于我们</a></li>
              <li> <a href="__APP__/Index/About/contact">联系我们</a></li>
              <li> <a href="__APP__/Index/About/explain">网站说明</a></li>
            </ul>
          </div>
          <div class="attention">
            在这里关注我们的动向<br>
            <a id="qzone" href="http://www.lsgogroup.com" target="_blank" title="QQ空间">QQ空间</a>
            <a id="sinaweibo" href="http://www.lsgogroup.com" target="_blank" title="新浪微博">新浪微博</a>
            <a id="qqweibo" href="http://dianlipeixun.com/" target="_blank" title="培训官网">培训官网</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>