    <div id="footer">
      <div class="waper">
        <div class="footerwaper">
          <div class="footer_intro">
            <p>我们的使命是让你更方便的学习，帮助更多的人实现梦想！<br>
              Copyright © 2014 vivisp.com All Rights Reserved<br>
              冀ICP备15013326号
            </p>
          </div>
          <div class="footer_link">
            <ul>
             <li><a href="__APP__/Index/Index">网站首页</a></li>
              <li><a href="__APP__/Index/About">关于我们</a></li>
              <li> <a href="__APP__/Index/About/contact">联系我们</a></li>
              <li> <a href="__APP__/Index/About/explain">网站说明</a></li>
            </ul>
          </div>
          <div class="attention">
            在这里关注我们的动向<br />
            <a id="qzone" href="http://www.lsgogroup.com" target="_blank" title="QQ空间">QQ空间</a>
            <a id="sinaweibo" href="http://www.lsgogroup.com" target="_blank" title="新浪微博">新浪微博</a>
            <a id="qqweibo" href="http://dianlipeixun.com/" target="_blank" title="培训官网">培训官网</a>
          </div>
        </div>
      </div>
    </div>
    <div id="login">
      <div class="rl-header">
        <button type="button" class="rl-close J-close-layer" >×</button>
        <h3>登录</h3>
      </div>
      <div class="rl-body">
        <div class="rlf-group">
          <input id="lg_email" type="text" name="email"  autocomplete="off" class="rlf-input rlf-input-email" placeholder="请输入登录邮箱">
          <p class="rlf-tip-wrap"></p>
        </div>
        <div class="rlf-group">
          <input id="lg_pwd" type="password" name="password" autocomplete="off" class="rlf-input rlf-input-pwd" placeholder="请输入密码">
          <p class="rlf-tip-wrap"></p>
        </div>
        <div class="rlf-group">
          <input id="lg_cap" cap-id="" type="captcha" style="width:90px" name="captcha" autocomplete="off" class="rlf-input rlf-input-cap" placeholder="请输入验证码"><div style="display:inline-block;position:relative;top:7px;">
          <img id="lg_cap_img" src="#" alt="captcha" /></div><span id="lg_cap_ambiguous"><a>看不清?</a></span>
          <p class="rlf-tip-wrap"></p>
        </div>
        <div class="rlf-group clearfix">
          <label for="auto-signin" class="l" ><input type="checkbox" checked="checked" id="auto-signin">自动登录</label>
          <a class="r rfor">忘记密码？ </a>
        </div>
        <div class="rlf-group clearfix">
          <p class="rlf-tip-wrap" id="signin-globle-error"></p>
          <input type="button" id="go-signup-btn" value="立即注册"  class="rlf-btn-gray fl" />
          <input id="btnlogin" type="button" id="signin-btn" value="登录"  class="rlf-btn-green r" />
        </div>
      </div>
    </div>
    <div id="regist">
      <div class="rl-header">
        <button type="button" class="rl-close J-close-layer" >×</button>
        <h3>注册</h3>
      </div>
      <div class="rl-body">
        <div class="rlf-group">
          <input type="text" id="reg_email" name="email"  class="rlf-input rlf-input-email " autocomplete="off" placeholder="请输入登录邮箱">
          <p class="rlf-tip-wrap">邮箱不能为空！</p>
        </div>
        <div class="rlf-group">
          <input id="reg_name" type="text" name="nick"  class="rlf-input rlf-input-nick" placeholder="请输入用户昵称">
          <p class="rlf-tip-wrap">请输入昵称，2-18位中英文、数字或下划线！</p>
        </div> 
        <div class="rlf-group">
          <input id="reg_pwd" type="password" name="password"  class="rlf-input rlf-input-pwd" placeholder="请输入密码">
          <p class="rlf-tip-wrap">请输入6-16位密码，区分大小写，不能使用空格！</p>
        </div>
        <div class="rlf-group">
          <input id="re_reg_pwd" type="password" name="password" class="rlf-input rlf-input-repwd" placeholder="确认密码">
          <p class="rlf-tip-wrap">请确认密码！</p>
        </div>
        <div class="rlf-group">
          <input id="reg_cap" cap-id="" type="captcha" style="width:90px" name="captcha" autocomplete="off" class="rlf-input rlf-input-cap" placeholder="请输入验证码"><div style="display:inline-block;position:relative;top:7px;">
          <img id="reg_cap_img" src="#" alt="captcha" /></div><span id="reg_cap_ambiguous"><a>看不清?</a></span>
          <p class="rlf-tip-wrap"></p>
        </div>    
        <div class="rlf-group clearfix">
          <p class="rlf-tip-wrap" id="signup-globle-error"></p>
          <input type="button" id="go-signin-btn" value="返回登录"  class="rlf-btn-gray l" />
          <input type="button" id="signup-btn" value="注册"  class="rlf-btn-green r" />
        </div>
      </div>
    </div>
  </body>
</html>