<div class="QuesArea">
	<include file="tab" />
	<div class="data-table">
		<table>
			<thead>
				<tr>
					<th class="identifier">编号</th>
					<th class="program">题目</th>
					<th class="writer">作者</th>
					<th class="lstupdate">最后更新</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>1.中性点直接接地系统中发生不对称短路时，故障处短路电流中（）</td>
					<td>admin</td>
					<td>2015-12-18 17:36</td>
					<td class="operate">
						<a href="">编辑</a>
						<a href="">删除</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox">
					</td>
					<td>1</td>
					<td>1.中性点直接接地系统中发生不对称短路时，故障处短路电流中（）</td>
					<td>admin</td>
					<td>2015-12-18 17:36</td>
					<td class="operate">
						<a href="">编辑</a>
						<a href="">删除</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox">
					</td>
					<td>1</td>
					<td>1.中性点直接接地系统中发生不对称短路时，故障处短路电流中（）</td>
					<td>admin</td>
					<td>2015-12-18 17:36</td>
					<td class="operate">
						<a href="">编辑</a>
						<a href="">删除</a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox">
					</td>
					<td>1</td>
					<td>1.中性点直接接地系统中发生不对称短路时，故障处短路电流中（）</td>
					<td>admin</td>
					<td>2015-12-18 17:36</td>
					<td class="operate">
						<a href="">编辑</a>
						<a href="">删除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>