<volist name="major_judge" id="vo">
    <div id="test-editormd-view-judge{$i}" class="test-editormd-view" style="width:80%;float:right;">
        {$i}.&nbsp;
        <textarea style="display:none;">
            {$vo.content}
        </textarea>
        <input type="radio" value="A" name="{$vo.id}" />
        <label>A</label>
        <input type="radio" value="B" name="{$vo.id}" />
        <label>B</label>
        <label>答案不确定:</label>
        <input type="checkbox" id="{$i}" class="canClick" />
        <br />
    </div>
</volist>